@model HouseRentalManagement.Models.AdminViewModels.ListHouseImageViewModel

<table class="table table-responsive table-hover">
	<thead>
		<tr>
			<th colspan="3"><h4>Uploaded Images</h4></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.HouseImages != null && Model.HouseImages.Any())
		{
			@foreach (var image in Model.HouseImages)
			{
		<tr>
			<td>
				<a class="house-image-preview" href="@image.ImageSrc">
					<img class="img img-responsive house-image-preview" src="@image.ImageSrc" height="200px" width="200px" />
				</a>
			</td>
			<td>@image.fileName</td>
			<td><a href="javascript:void(0)" class="btn btn-danger" onclick="Hrm.AdminHouses.deleteHouse('@image.HouseId', '@image.ImageId');" title="Delete @image.fileName"><i class="fa fa-close"></i></a></td>
		</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="2"> No images uploaded for this house</td>
			</tr>
		}
	</tbody>
</table>