@{
	Layout = "~/views/shared/_HouseLayout.cshtml";
}
@model HouseRentalManagement.Models.AdminViewModels.EditHouseViewModel
@using HouseRentalManagement.Data.Interface
@inject ITenantRepository TenantRepository

@section Styles{
	<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
	<link href="~/lib/dropify/css/dropify.css" rel="stylesheet" />
	<link href="~/lib/fancybox/jquery.fancybox.css" rel="stylesheet" />
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Edit - @Model.AddressLine1 <a class="btn btn-danger" asp-action="Houses" asp-controller="Admin">Go back to house list</a></h3>
		</div>
	</div>
	<ul class="nav nav-tabs mt-20">
		<li class="active"><a data-toggle="tab" href="#house-info">Details</a></li>
		<li>
			<a data-toggle="tab" href="#photo-info">
				Photos <span id="photos-tab-loader" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>
			</a>
		</li>
		<li>
			<a data-toggle="tab" href="#amenity-info">
				Amenities <span id="amenity-tab-loader" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>
			</a>
		</li>
		<li>
			<a data-toggle="tab" href="#getting-around">
				Getting Around <span id="getting-around-tab-loader" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>
			</a>
		</li>
		<li>
			<a data-toggle="tab" href="#tenant-info">
				Tenants <span id="tenant-tab-loader" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>
			</a>
		</li>
		<li>
			<a data-toggle="tab" href="#faciliy-info">
				Facilities <span id="facility-tab-loader" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>
			</a>
		</li>
	</ul>
	<div class="tab-content col-md-12">
		<div id="house-info" class="tab-pane fade in active">
			<form asp-action="EditHouse" asp-controller="Admin" method="post">
				<div class="row">
					<div class="col-md-5">
						<input asp-for="HouseId" />
						<div class="form-group">
							<label asp-for="AddressLine1"></label> <span class="required">*</span>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
								<input asp-for="AddressLine1" class="form-control" placeholder="123 Main Street" />
							</div>
							<span asp-validation-for="AddressLine1" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="AddressLine2"></label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
								<input asp-for="AddressLine2" class="form-control" placeholder="Golf Club Rd" />
							</div>
							<span asp-validation-for="AddressLine2" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="City"></label> <span class="required">*</span>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
								<input asp-for="City" class="form-control" placeholder="Toronto" />
							</div>
							<span asp-validation-for="City" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="PostalCode"></label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
								<input asp-for="PostalCode" class="form-control" placeholder="M1H2Y7" />
							</div>
							<span asp-validation-for="PostalCode" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Province"></label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-globe"></i></span>
								<input asp-for="Province" class="form-control" value="ON" readonly />
							</div>
							<span asp-validation-for="Province" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Country"></label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-globe"></i></span>
								<input asp-for="Country" class="form-control" value="CA" readonly />
							</div>
							<span asp-validation-for="Country" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<label asp-for="Rent"></label><span> (per Month)</span>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
								<input asp-for="Rent" class="form-control" placeholder="350" />
							</div>
							<span asp-validation-for="Rent" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Description"></label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-info"></i></span>
								<textarea asp-for="Description" class="form-control" rows="5" placeholder="Description"></textarea>
							</div>
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>
						<div class="input-group input-daterange">
							<label asp-for="DateAvailableFrom"></label>
						</div>
						<div class="form-group input-group input-daterange">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input asp-for="DateAvailableFrom" type="text" class="form-control date" placeholder="@DateTime.Now.ToString("mm/dd/yyyy")" />
							</div>
							<div class="input-group-addon">to</div>
							<div class="input-group">
								<input asp-for="DateAvailableTo" type="text" class="form-control date" placeholder="@DateTime.Now.ToString("mm/dd/yyyy")" />
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						<div class="form-group">
							<label asp-for="ParkingSpace"></label>
							<div class="input-group col-md-6">
								<span class="input-group-addon"><i class="fa fa-car"></i></span>
								<input asp-for="ParkingSpace" class="form-control" min="0" />
							</div>
							<span asp-validation-for="ParkingSpace" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row mt-20">
					<div class="col">
						<button class="btn btn-primary">Submit</button>
						<a class="btn btn-danger" asp-action="Houses" asp-controller="Admin">Cancel</a>
					</div>
				</div>
			</form>
		</div>
		<div id="photo-info" class="tab-pane fade">
			@await Html.PartialAsync("~/Views/Admin/_HouseImagesAdd.cshtml", Model.AddHouseImageViewModel)
		</div>
		<div id="amenity-info" class="tab-pane fade">
			<div>Please contact IT support if you see this message here</div>
		</div>
		<div id="getting-around" class="tab-pane fade">
			@await Html.PartialAsync("~/Views/Admin/_HouseGettingAroundPartial.cshtml", Model.AddHouseGettingAroundViewModel)
		</div>
		<div id="tenant-info" class="tab-pane fade">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-primary" data-target="#add-tenant-modal" data-toggle="modal">Add Tenant</button>
				</div>
			</div>
			<div id="tenant-list-container">
				@* loaded via Ajax *@
			</div>
		</div>
		<div id="faciliy-info" class="tab-pane fade">
			Facility - coming soon!
		</div>
	</div>
</div>

<div class="modal fade" id="add-tenant-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Tenant</h5>
			</div>
			<div class="modal-body">
				<div class="form-group row">
					<div class="col-md-6">
						<label>Select Tenant</label> <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Tenant will be removed from other house, if added."><i class="fa fa-info-circle"></i></span>
						<select class="form-control" asp-items="@(new SelectList(await TenantRepository.FetchTenantListForHouseEditPageAsync(Model.HouseId), "TenantId", "FullName"))" id="add-tenant-dropdown">
							<option value="">-- Select Tenant --</option>
						</select>
						<span class="text-danger" id="add-tenant-dropdown-error" style="display: none;">Please select a tenant</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button class="btn btn-primary" id="add-tenant-button">Add <span id="add-tenant-loader" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span></button>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	@await Html.PartialAsync("_ValidationScriptsPartial")
	<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="~/lib/dropify/js/dropify.js"></script>
	<script src="~/lib/fancybox/jquery.fancybox.js"></script>
	<script src="~/lib/sweetalert/sweetalert2.js"></script>
	<script src="~/js/pages/admin-edithouse.js"></script>
	<script>
		$(document).ready(function () {
			var editHouseModel = {
				dateAvailableFromSelector: '#DateAvailableFrom',
				dateAvailableToSelector: '#DateAvailableTo',
				houseId:'@Model.HouseId'
			};
			Hrm.AdminEditHouse.init(editHouseModel);
		});
	</script>
}