@model HouseRentalManagement.Models.HouseViewModels.HouseInfoViewModel

@{
	Layout = "_HouseLayout";
}

@section Styles{
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="~/lib/fancybox/jquery.fancybox.css" rel="stylesheet" />
	<link href="~/lib/slick-carousel/dist/slick.css" rel="stylesheet" />
	<link href="~/lib/slick-carousel/dist/slick-theme.css" rel="stylesheet" />
	<link href="~/css/pages/house-info.css" rel="stylesheet" />
}

<div class="container">
	<div class="house-info">
		<div class="row visible-xs visible-sm hidden-md hidden-lg">
			<div class="col-md-12">
				<div class="house-title">
					<label>@Model.FullAddress</label><br />
					<span class="rent-amount"><strong>Rent:</strong> @Model.Rent</span>
				</div>
			</div>
		</div>
		<div class="row">
			@if (!string.IsNullOrEmpty(Model.MainImageSrc) || (Model.Images != null && Model.Images.Count > 0))
			{
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-12">
							<div class="house-image">
								<a class="image" href="@Model.MainImageSrc" id="main-image-anchor">
									<img src="@Model.MainImageSrc" alt="" id="main-image" />
								</a>
							</div>
						</div>
					</div>
					<div class="row mt-10">
						<div class="col-md-12">
							<div id="house-images-container">
								@foreach (var image in Model.Images)
								{
									<img src="@image.ImageSrc" alt="" />
								}
							</div>
						</div>
					</div>
				</div>
			}
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="row hidden-sm hidden-xs visible-md visible-lg">
					<div class="col-md-12">
						<div class="house-title">
							<label>@Model.FullAddress</label><br />
							<span class="rent-amount"><strong>Rent:</strong> @Model.Rent</span>
						</div>
					</div>
				</div>
				<div class="row mt-10">
					<div class="col-md-12">
						<strong>Description</strong> <br />
						@Model.Description
					</div>
				</div>
				<div class="row mt-10">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-6"><strong><strong>Lease options:</strong></strong></div>
							<div class="col-md-8 col-sm-8 col-xs-6"> 4 Months, 8 Months, 12 Months</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-6"><strong>Date Availbale:</strong></div>
							<div class="col-md-8 col-sm-8 col-xs-6">@Model.DateAvailable</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-6"><strong># of occupancy:</strong></div>
							<div class="col-md-8 col-sm-8 col-xs-6">@Model.Occupancy</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-6"><strong># of parking space:</strong></div>
							<div class="col-md-8 col-sm-8 col-xs-6">@Model.ParkingSpace</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-6"><strong># of washrooms:</strong></div>
							<div class="col-md-8 col-sm-8 col-xs-6">@Model.Washrooms</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row facility-container">
			@if (Model.AllAmenities != null && Model.AllAmenities.Count > 0)
			{
				<div class="col-md-8">
					<h4>Amenities</h4><br />
					<div class="row">
						@foreach (var amenity in Model.AllAmenities)
						{
							<div class="col-md-6">
								<img src="@amenity.ImageSrc" /> <span> @amenity.Title </span>
							</div>
						}
					</div>
				</div>
			}

			@if (Model.IncludedAmenities != null && Model.IncludedAmenities.Count > 0)
			{
				<div class="col-md-4">
					<h4>Utilities included</h4><br />
					<div class="row">
						<div class="col-md-6">
							@foreach (var amenity in Model.IncludedAmenities)
							{
								<img src="@amenity.ImageSrc" /> <span> @amenity.Title </span><br />
							}
						</div>
					</div>
				</div>
			}
		</div>
		<div class="row">
			@*<div class="col-md-5">
					<div id="contact-info-container">
						<h4>Contact</h4>
						<div class="row">
							<div class="col-md-12">
								<span>Mobile: 647-123-4567</span>
								<a href="tel:6471234567">
									<i class="fa fa-phone social-btn"></i>
								</a>
								<a href="https://api.whatsapp.com/send?phone=16471234567&text=I'm%20inquiring%20about%20the%20apartment%20listing">
									<i class="fa fa-whatsapp social-btn"></i>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<span>Email: john.doe@domain.com <a href="mailto:john.doe@domain.com"><i class="fa fa-envelope social-btn"></i></a></span>

							</div>
						</div>
					</div>
				</div>*@
			@if (Model.Restrictions != null && Model.Restrictions.Count > 0)
			{
				<div class="col-md-4">
					<h4>Things Not Permitted</h4><br />
					@foreach (var restriction in Model.Restrictions)
					{
						<span> @restriction </span><br />
					}
				</div>
			}

			@if (Model.GettingArounds != null && Model.GettingArounds.Count > 0)
			{
				<div class="col-md-8">
					<h4>Getting Around</h4>
					<table class="table table-responsive" id="house-getting-around-table">
						<thead>
							<tr>
								<th><img src="~/icons/building.png" class="icons" /></th>
								<th><img src="~/icons/distance.png" class="icons" /></th>
								<th><img src="~/icons/walking.png" class="icons" /></th>
								<th><img src="~/icons/cycle.png" class="icons" /></th>
								<th><img src="~/icons/car.png" class="icons" /></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.GettingArounds)
							{
								<tr>
									<td> @item.Location </td>
									<td> @item.Distance KM </td>
									<td> @item.WalkingTime </td>
									<td> @item.BikeTime </td>
									<td> @item.CarTime </td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			}
		</div>
		<div class="row">
			<div class="col-md-12">
				@*<div id="house-location"></div>*@
			</div>
		</div>
	</div>

	@*<div id="jhr-portfolio-section" class="mt-20">
			<div id="portfoliolist" class="bounceIn">
				<div class="row">
					@for (int i = 0; i < 2; i++)
					{
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-10">
							<div class="portfolio">
								<a class="house-image" href="~/images/testimages/20180331_121713.jpg">
									<div class="portfolio-wrapper">
										<img src="~/images/testimages/20180331_121713.jpg" alt="" />
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-10">
							<div class="portfolio">
								<a class="house-image" href="~/images/testimages/20180330_121325.jpg">
									<div class="portfolio-wrapper">
										<img src="~/images/testimages/20180330_121325.jpg" alt="" />
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-10">
							<div class="portfolio">
								<a class="house-image" href="~/images/testimages/20180331_142913.jpg">
									<div class="portfolio-wrapper">
										<img src="~/images/testimages/20180331_142913.jpg" alt="" />
									</div>
								</a>
							</div>
						</div>
					}
				</div>
			</div>
		</div>*@
</div>
@section Scripts{
	<script src="~/lib/fancybox/jquery.fancybox.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyBcH3xWHIKvmtjH-0Xs9E9zI8KG9C7bY8w" type="text/javascript"></script>

	<script src="~/lib/slick-carousel/dist/slick.js"></script>
	<script src="~/js/pages/house-info.js"></script>
	<script>
		$(document).ready(function () {
			var houseInfoModel = {
				location: "368 Dunsmore Ln, Barrie"
			};
			Hrm.HouseInfo.init(houseInfoModel);
		});
	</script>
}
